@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*-----------Navigation Bar---------*/
.bg-light {
    padding: 15px;   
}
#ppccLogo{
    width: 10%;
    height: 10%;
}
.navbar-brand{
    display: flex;
    justify-items: center;
    align-items: center;
    
}
.ppccWord{
    margin-left: 5px;
    font-size: 1.2em; 
    font-family: 'Mate SC', serif;
    color: #4c7ce2;
    font-weight: bold;
}
#NavR{
	font-size: 1.4em;
}
#NavR li a {
	color: #4c7ce2;
	margin-right: 10px;
	font-weight: 600;
	font-family: 'Mate SC', serif;
}
#NavR li a:hover, #NavR li a:focus{
	color: #f55959;
}

#NavR li:active{
	color:  #f55959;;
}
#active{
    color: #f55959 !important;
}
@media screen and (max-width: 600px){
    .navbar-brand{
        display: contents;
    }
}
/*---Image Carrousel---*/

.w-100 {
  width: 100% !important;
  height: 86vh;
}
.labels{
	font-family: 'Mate SC', serif;
}
h5.labels{
    font-size: 2em;
}
p.labels{
    font-size: 1.2em;
}
@media screen and (max-width: 700px){
    .w-100 {
        width: 100% !important;
        height: 50vh;
      }
  }
/*----About--and Executives--*/
#intro{
    margin: 0 10%;
}
#executives{
    margin: 0 10% 5% 10%;
}
#intro h1, #executives h1{
	padding-top: 70px;
	text-align: center;
	font-family: 'Mate SC', serif;
	color: #4c7ce2;
	font-weight: bold;
} 
#intro p, #executives p{    
	text-align: center;
	font-family: 'Kalam', cursive;
	font-size: 1.5em;
	letter-spacing: 1px;
}
.section-heading{
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    font-size: 30px;
    padding-bottom: 20px;
    color: #111;
  }
  
  .section-heading::before{
    content: "";
    position: absolute;
    width: 85px;
    height: 3px;
    background-color: #111;
    bottom: 0;
    left: calc(50% - 40px);
  }
  
  .section-heading::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    background-color:  #ff3b3b;
    border: 4px solid  #4c7ce2;
    left: calc(50% - 9px);
    bottom: -5px;
  }
  #executives img{
    width: 80%;
  }
  @media screen and (max-width: 600px){
    #executives img{
        width: 100%;
    }
  }
  /*====GALLERY===============*/
#Gallery img{
	width: 400px;
	height: 250px;
}
#Gall{
	margin-top: 30px;
}
@media screen and (max-width: 900px){
	.container1{
		flex-direction: column;
		margin: 0 10%;
	}
	.container1 div{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 990px){
    #Gallery img {
        width: 350px;
    }
}
@media screen and (max-width: 1400px){
    #Gallery img {  
        width: 350px;
    }
}
/* ================ OUR SERVICE==================*/     
#Services h1{
	padding-top: 70px;
	text-align: center;
	font-family: 'Mate SC', serif;
	color:  #4c7ce2;
	font-weight: bold;
}
#Services .container1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    padding-bottom: 20px;
    color: #f55959;
}

#Services .container1 li{
list-style-type: none;
padding-top: 20px;
border: 5px dashed #4c7ce2;
margin: 2% 20%;
padding: 30px;
text-align: center;
border-radius: 20px;
}
#Services .container1 li:hover{
    background-color: #f55959;
    color: #fff;
    }
    @media screen and (max-width: 600px){
        #Services .container1 li{
            width: 100%;
            margin: 5% auto;
        }
      }
      @media screen and (max-width: 398px){
        #Services .container1 li{
            width: 100%;
            margin: 5% auto;
            font-size: 1.5rem;
        }
      }
/* =================FOOOTER=====================*/
.containerf{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
}
.location{
	color: #fff;
}
.footer{
	background-color: #0051ff;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ff3b3b;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #fff;
	font-weight: 500;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ff3b3b;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #ff3b3b;
	background-color: #ffffff;
}
.register{
	text-align: center;
	color: #fff;
}
.NAME{
	color:  #ff3b3b;
}
/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  
  }
  }